In [1]:
import pandas as p
import numpy as np
from sklearn.feature_extraction import DictVectorizer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [2]:
cps = p.read_csv("../data/CPSData.csv")

In [3]:
#remove all rows with NAN values
cps = cps.dropna()

In [4]:
vec = DictVectorizer()

In [5]:
cps.Education.value_counts()

High school                12596
Bachelor's degree          11890
Some college, no degree     8942
Associate degree            5163
Master's degree             4741
No high school diploma      4144
Doctorate degree             968
Professional degree          952
Name: Education, dtype: int64

In [9]:
cps

,PeopleInHousehold,Region,State,MetroAreaCode,Age,Married,Sex,Education,Race,Hispanic,CountryOfBirthCode,Citizenship,EmploymentStatus,Industry
1,3,South,Alabama,13820.0,21,Never Married,Male,High school,Black,0,57,"Citizen, Native",Unemployed,Professional and business services
4,3,South,Alabama,26620.0,52,Widowed,Female,Associate degree,White,0,57,"Citizen, Native",Employed,Professional and business services
5,3,South,Alabama,26620.0,24,Never Married,Male,Bachelor's degree,White,0,57,"Citizen, Native",Employed,Educational and health services
6,3,South,Alabama,26620.0,26,Never Married,Male,High school,White,0,57,"Citizen, Native",Employed,Transportation and utilities
7,2,South,Alabama,33660.0,71,Divorced,Female,High school,White,0,57,"Citizen, Native",Employed,Educational and health services
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129671,3,Midwest,Wisconsin,20740.0,47,Married,Female,Associate degree,White,0,57,"Citizen, Native",Employed,Construction
129672,3,Midwest,Wisconsin,20740.0,55,Married,Male,Associate degree,White,0,57,"Citizen, Native",Employed,Construction
129674,1,Midwest,Wisconsin,11540.0,48,Never Married,Male,Bachelor's degree,White,0,57,"Citizen, Native",Employed,Construction
129675,2,Midwest,Wisconsin,20740.0,56,Married,Female,"Some college, no degree",White,0,57,"Citizen, Native",Employed,Manufacturing
129676,2,Midwest,Wisconsin,20740.0,59,Married,Male,Associate degree,White,0,57,"Citizen, Native",Employed,Manufacturing

In [44]:
#add age by decade column
cps['age_by_decade'] = p.cut(x=cps['Age'], bins=[10,20,29,39,49,59,69,79,89,99], labels=[10,20,30,40,50,60,70,80,90])

In [45]:
cps

,PeopleInHousehold,Region,State,MetroAreaCode,Age,Married,Sex,Education,Race,Hispanic,CountryOfBirthCode,Citizenship,EmploymentStatus,Industry,age_by_decade
1,3,South,Alabama,13820.0,21,Never Married,Male,High school,Black,0,57,"Citizen, Native",Unemployed,Professional and business services,20
4,3,South,Alabama,26620.0,52,Widowed,Female,Associate degree,White,0,57,"Citizen, Native",Employed,Professional and business services,50
5,3,South,Alabama,26620.0,24,Never Married,Male,Bachelor's degree,White,0,57,"Citizen, Native",Employed,Educational and health services,20
6,3,South,Alabama,26620.0,26,Never Married,Male,High school,White,0,57,"Citizen, Native",Employed,Transportation and utilities,20
7,2,South,Alabama,33660.0,71,Divorced,Female,High school,White,0,57,"Citizen, Native",Employed,Educational and health services,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129671,3,Midwest,Wisconsin,20740.0,47,Married,Female,Associate degree,White,0,57,"Citizen, Native",Employed,Construction,40
129672,3,Midwest,Wisconsin,20740.0,55,Married,Male,Associate degree,White,0,57,"Citizen, Native",Employed,Construction,50
129674,1,Midwest,Wisconsin,11540.0,48,Never Married,Male,Bachelor's degree,White,0,57,"Citizen, Native",Employed,Construction,40
129675,2,Midwest,Wisconsin,20740.0,56,Married,Female,"Some college, no degree",White,0,57,"Citizen, Native",Employed,Manufacturing,50
129676,2,Midwest,Wisconsin,20740.0,59,Married,Male,Associate degree,White,0,57,"Citizen, Native",Employed,Manufacturing,50

In [15]:
cps.iloc[0]

PeopleInHousehold                                      3
Region                                             South
State                                            Alabama
MetroAreaCode                                      13820
Age                                                   21
Married                                    Never Married
Sex                                                 Male
Education                                    High school
Race                                               Black
Hispanic                                               0
CountryOfBirthCode                                    57
Citizenship                              Citizen, Native
EmploymentStatus                              Unemployed
Industry              Professional and business services
Name: 1, dtype: object

In [52]:
#transform unique values to rows

ohencoder = OneHotEncoder(dtype=np.int, sparse=True)

nominals = p.DataFrame(
    ohencoder.fit_transform(cps[['EmploymentStatus','Education','age_by_decade']])\
    .toarray(),
    columns=np.concatenate((cps["EmploymentStatus"].unique(),cps["Education"].unique(),cps["age_by_decade"].unique()), axis=None))
#cps.head()
nominals

,Unemployed,Employed,Not in Labor Force,Retired,Disabled,High school,Associate degree,Bachelor's degree,No high school diploma,"Some college, no degree",...,Master's degree,Professional degree,20,50,70,40,30,10,60,80
0,0,0,0,0,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
1,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49391,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
49392,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
49393,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
49394,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
49395,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [53]:
#correlation between all variables

nominals.corr()

,Unemployed,Employed,Not in Labor Force,Retired,Disabled,High school,Associate degree,Bachelor's degree,No high school diploma,"Some college, no degree",...,Master's degree,Professional degree,20,50,70,40,30,10,60,80
Unemployed,1.000000,-0.112500,-0.002611,-0.001510,-0.007765,-0.006251,-0.009697,0.005111,0.010568,-0.005597,...,-0.004326,0.000839,-0.006798,-0.010960,0.001546,0.002731,0.009262,0.002656,-0.004432,-0.002021
Employed,-0.112500,1.000000,-0.308388,-0.178384,-0.917218,0.011240,0.048283,0.025616,-0.043778,0.036583,...,0.022871,-0.018587,-0.084234,-0.035773,0.021714,0.031133,0.023945,0.000367,-0.002343,-0.000284
Not in Labor Force,-0.002611,-0.308388,1.000000,-0.004140,-0.021286,-0.011571,-0.017188,-0.008483,0.000827,-0.013655,...,-0.011859,0.020318,0.137386,0.019080,-0.019377,-0.022609,-0.027540,-0.021278,-0.005296,-0.005541
Retired,-0.001510,-0.178384,-0.004140,1.000000,-0.012312,-0.001808,-0.002331,-0.000935,-0.002940,0.012212,...,0.008222,-0.003620,-0.010779,-0.022816,-0.025497,-0.023887,-0.009639,0.082348,0.060764,0.028588
Disabled,-0.007765,-0.917218,-0.021286,-0.012312,1.000000,-0.006824,-0.044210,-0.025080,0.046136,-0.036385,...,-0.021582,0.013465,0.045158,0.037931,-0.011474,-0.020969,-0.015258,-0.010177,-0.007552,-0.003362
High school,-0.006251,0.011240,-0.011571,-0.001808,-0.006824,1.000000,-0.192362,-0.048302,-0.199880,-0.111321,...,-0.047893,-0.160625,-0.060770,-0.003109,0.009947,0.006344,0.019734,0.003984,-0.011905,-0.006143
Associate degree,-0.009697,0.048283,-0.017188,-0.002331,-0.044210,-0.192362,1.000000,-0.079603,-0.329407,-0.183460,...,-0.078929,-0.264714,-0.119295,0.024199,0.040821,0.026135,-0.015430,-0.005578,-0.019934,-0.013643
Bachelor's degree,0.005111,0.025616,-0.008483,-0.000935,-0.025080,-0.048302,-0.079603,1.000000,-0.082715,-0.046067,...,-0.019819,-0.066470,-0.031144,-0.046472,0.008666,0.002564,0.013178,0.029775,0.033678,0.008656
No high school diploma,0.010568,-0.043778,0.000827,-0.002940,0.046136,-0.199880,-0.329407,-0.082715,1.000000,-0.190630,...,-0.082015,-0.275061,0.041579,-0.004288,-0.043806,-0.006548,0.033560,-0.007740,0.010072,0.010109
"Some college, no degree",-0.005597,0.036583,-0.013655,0.012212,-0.036385,-0.111321,-0.183460,-0.046067,-0.190630,1.000000,...,-0.045677,-0.153192,-0.070468,-0.067586,0.042550,0.015618,0.010566,0.039139,0.005966,-0.003427
Doctorate degree,0.009609,-0.055238,0.034387,-0.001345,0.046373,-0.103388,-0.170385,-0.042784,-0.177045,-0.098603,...,-0.042422,-0.142275,0.200984,-0.029558,-0.011552,-0.013508,-0.031945,-0.028087,0.002737,0.010412
Master's degree,-0.004326,0.022871,-0.011859,0.008222,-0.021582,-0.047893,-0.078929,-0.019819,-0.082015,-0.045677,...,1.000000,-0.065908,-0.030179,-0.033836,-0.000456,0.006325,0.007021,0.029350,0.030106,0.013397
Professional degree,0.000839,-0.018587,0.020318,-0.003620,0.013465,-0.160625,-0.264714,-0.066470,-0.275061,-0.153192,...,-0.065908,1.000000,0.064862,0.082253,-0.030830,-0.032050,-0.028871,-0.019128,-0.009217,-0.004189
20,-0.006798,-0.084234,0.137386,-0.010779,0.045158,-0.060770,-0.119295,-0.031144,0.041579,-0.070468,...,-0.030179,0.064862,1.000000,-0.102710,-0.114777,-0.116560,-0.115884,-0.074098,-0.031632,-0.014428
50,-0.010960,-0.035773,0.019080,-0.022816,0.037931,-0.003109,0.024199,-0.046472,-0.004288,-0.067586,...,-0.033836,0.082253,-0.102710,1.000000,-0.242943,-0.246717,-0.245284,-0.156840,-0.066955,-0.030539
70,0.001546,0.021714,-0.019377,-0.025497,-0.011474,0.009947,0.040821,0.008666,-0.043806,0.042550,...,-0.000456,-0.030830,-0.114777,-0.242943,1.000000,-0.275705,-0.274104,-0.175267,-0.074821,-0.034127
40,0.002731,0.031133,-0.022609,-0.023887,-0.020969,0.006344,0.026135,0.002564,-0.006548,0.015618,...,0.006325,-0.032050,-0.116560,-0.246717,-0.275705,1.000000,-0.278362,-0.177990,-0.075984,-0.034657
30,0.009262,0.023945,-0.027540,-0.009639,-0.015258,0.019734,-0.015430,0.013178,0.033560,0.010566,...,0.007021,-0.028871,-0.115884,-0.245284,-0.274104,-0.278362,1.000000,-0.176956,-0.075543,-0.034456
10,0.002656,0.000367,-0.021278,0.082348,-0.010177,0.003984,-0.005578,0.029775,-0.007740,0.039139,...,0.029350,-0.019128,-0.074098,-0.156840,-0.175267,-0.177990,-0.176956,1.000000,-0.048303,-0.022032
60,-0.004432,-0.002343,-0.005296,0.060764,-0.007552,-0.011905,-0.019934,0.033678,0.010072,0.005966,...,0.030106,-0.009217,-0.031632,-0.066955,-0.074821,-0.075984,-0.075543,-0.048303,1.000000,-0.009405
80,-0.002021,-0.000284,-0.005541,0.028588,-0.003362,-0.006143,-0.013643,0.008656,0.010109,-0.003427,...,0.013397,-0.004189,-0.014428,-0.030539,-0.034127,-0.034657,-0.034456,-0.022032,-0.009405,1.000000